[Unit]
Description="Continuous Delivery Deploy Unit File"
Documentation="https://github.com/Dannie226/cd_watcher"

[Service]
Type=oneshot
User=cd_watcher
WorkingDirectory=/home/cd_watcher
ExecStart=/usr/bin/flock --exclusive --close /home/cd_watcher/.deployment.lock /home/cd_watcher/bin/cd_watcher rollback 1
LoadCredentialEncrypted=pg_url
# LoadCredentialEncrypted=email_login
